.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  min-width: 0;
}
.freeBox {
  display: block;
  position: relative;
  width: 1145px;
  height: 60px;
  max-width: 80%;
  background: var(--token-OTfsDh2SIUn1);
  flex-shrink: 0;
  padding: 8px;
}
.text {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: -3px;
  top: 15px;
  text-align: center;
  min-width: 0;
}
